{
  "env": {
    "development": {
      "presets": ["next/babel", "@lingui/babel-preset-react"]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "browsers": [">0.25%", "ie 11", "not op_mini all"]
              }
            }
          }
        ],
        "@lingui/babel-preset-react"
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ],
        "@lingui/babel-preset-react"
      ]
    }
  },
  "plugins": [
    [
      "transform-assets",
      {
        "extensions": ["png", "jpg"],
        "regExp": ".*/static/(.+)",
        "name": "/static/[1]?[sha512:hash:base64:7]"
      }
    ],
    "polished",
    "@babel/plugin-transform-flow-strip-types",
    "inline-react-svg",
    "emotion"
  ]
}
