{
  "env": {
    "development": {
      "presets": ["next/babel", "lingui-react"]
    },
    "production": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": { "targets": { "ie": 11 } }
          }
        ],
        "lingui-react"
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel",
        "lingui-react"
      ]
    }
  },
  "plugins": [
    "polished",
    "transform-flow-strip-types",
    "inline-react-svg",
    ["babel-plugin-styled-components", { "ssr": true }]
  ]
}
