{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": ["flowtype", "react"],
  "parserOptions": {
    "ecmaVersion": 2016,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "flowVersion": "0.53"
    }
  },
  "rules": {
    // Use single quotes
    "quotes": ["error", "single"],
    // Allow JSX to be used in files with the extensions '.js'
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    // Allow the import of dev dependencies (and the deps of our deps...)
    "import/no-extraneous-dependencies": 0,
    // Don't require prop validation for 'this.props.children'
    "react/prop-types": [
      "error",
      {
        "ignore": ["children"]
      }
    ],
    // If we don't allow requiredefaults. Eslint and Flow trips each other
    "react/default-props-match-prop-types": [
      "error",
      { "allowRequiredDefaults": true }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link", "A"],
        "specialLink": ["passHref"],
        "aspects": ["invalidHref"]
      }
    ],
    "prefer-destructuring": [
      "error",
      {
        "VariableDeclarator": {
          "array": false,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          // Because this looks awful https://github.com/eslint/eslint/issues/7886#issuecomment-271119989
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    // Don't require default props.
    "react/require-default-props": 0
  }
}
