node_modules
npm-debug.log*
yarn-error.log*
yarn-debug.log*
.vscode
.DS_STORE
.next
*.iml
.idea
# Currently we only have one language, so we ignore the locale folder for now
packages/gdl-frontend/locale/
