* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$bluestart: #1c5791;
$blueend: #5fa1d1;
$blue: #1c5791;
$green: #60bb82;
$darkgreen: #309556;
$body: #f5f5f5;

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background: $body;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    span {
        display: block;
        margin-left: 20px;
        text-transform: uppercase;
    }
}

p {
    margin-bottom: 16px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.35);
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    transition: all 100ms ease-in-out;
    &:hover,
    &:focus {
        margin-top: 22px;
        background: $darkgreen;
        box-shadow: none;
    }
}

.button--green {
    background: $green;
}

.image {
    img {
        display: auto;
        width: 100%;
        height: auto;
    }
}

.welcome__header {
    padding: 2em;
}

.section {

}

.intro-text {
    max-width: 500px;
}
.section--welcome {
    height: 70vh;
    min-height: 700px;
    background: linear-gradient(to right, $bluestart 0%,$blueend 100%);
    color: #fff;
}

.section--content {
    .cards {
        margin: 0 auto;
    }
    .cards__item {
        .item__text {
            padding: 1em;
        }
    }
}

@media (min-width: 550px) {
    h1 {
        font-size: 4rem;
        span {
            margin-left: 40px;
        }
    }
    .welcome__header {
        padding: 3em;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 5rem;
        span {
            margin-left: 50px;
        }
    }
    .welcome__header {
        padding: 4em;
    }
}